<table class="table mt-6">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each readings}}
    <tr>
      <td label="Date-Time">
        {{this.timeStamp}}
      </td>
      <td label="Code">
        {{this.code}}
      </td>
      <td label="Temperature">
        {{this.temperature}}
      </td>
      <td label="Wind Speed">
        {{this.windSpeed}}
      </td>
      <td label="Wind Direction">
        {{this.windDirection}}
      </td>
      <td label="Pressure">
        {{this.pressure}}
      </td>
      <td label="Delete">
        <span data-location="{{this._id}}" class="button is-danger" onclick="confirmdelete(this)">Delete Reading</span><br/>
        </td>
    </tr>
    <tr>
        <td colspan="7" style="padding:0;margin:0;">
            <div id="confirmDelete/{{this._id}}" style="display: none;">
                <div class="columns is-desktop mt-3 mb-3">
                    <div class="column is-half">
                        <span data-location="{{this._id}}" onclick="confirmdelete(this)" class="button is-fullwidth">Cancel</span>
                    </div>
                    <div class="column is-half">
                        <a href="/station/{{../station._id}}/deletereading/{{this._id}}" class="button is-danger is-fullwidth">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>